@font-face {
    font-family: BubblegumSans;
    src: url("Content/BubblegumSans-Regular.ttf") format("opentype");
}

body {
    font-family: "BubblegumSans", sans-serif !important;
    background-color: #cf684b;    
    background-image: url("Content/axie-buba.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-position-x: unset;
    color: #352f3c;
}
  
.sidenav {
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;    
    overflow-x: hidden;
    padding: 8px 0;
    text-align: center;
}
  
.sidenav a {
    padding: 16px 6px 16px 6px;
    text-decoration: none;
    text-align: center;
    display: block;    
}

.sidenav i {
    cursor: pointer;
    font-size: 4vw;
}
  
.main {
    margin-left: 10%;
    font-size: 2vw;
    padding: 20px;
}

.title {
    float: left;
    text-align: left;
}

.filters {
    float: right;
    text-align: right;
}

.filters i {
    cursor: pointer;
}

.table {
    font-size: 2vw;
    /* table-layout: fixed; */
    text-align: center;    
}

.table th, tr {
    border-color: #794143;
}
  
.table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: rgba(121, 65, 67, .3);
}

.table-main {
    background-color: rgba(207, 104, 75, .8);
}

.item {
    font-size: 1.2vw;
}

.starred {
    color: #352f3c !important;
}

.starred-bg {
    background-color: #352f3c !important;
    color: gold;
}

.starred-bg:hover {    
    color: gold;
}

.savannah {
    color: #ce9e3f !important;    
}

.savannah-bg {
    background-color: #ce9e3f !important;    
}

.forest {
    color: #6bc001 !important;
}

.forest-bg {
    background-color: #6bc001 !important;
}

.arctic {
    color: #8bfdf1 !important;
}

.arctic-bg {
    background-color: #8bfdf1 !important;
}

.mystic {
    color: #05aeb7 !important;
}

.mystic-bg {
    background-color: #05aeb7 !important;
}

.genesis {
    color: #121f57 !important;
}

.genesis-bg {
    background-color: #121f57 !important;
    color: white;
}

.genesis-bg:hover {    
    color: white;
}

.admonitus {
    color: #910b0f !important;
}

.edenite {
    color: #1aca63 !important;
}

.edenite-bg {
    background-color: #1aca63 !important;    
}

.aqua {
    color: #3689c6 !important;
}

.aqua-bg {
    background-color: #3689c6 !important;
}

.beastium {
    color: #f18632 !important;
}

.beastium-bg {
    background-color: #f18632 !important;
}

.serpentine {
    color: #ae36e7 !important;
}

.serpentine-bg {
    background-color: #ae36e7 !important;
}

.amber {
    color: #fc3019 !important;
}

.amber-bg {
    background-color: #fc3019 !important;
}

.aerium {
    color: #ffbfd9 !important;
}

.aerium-bg {
    background-color: #ffbfd9 !important;
}

.mechanium {
    color: #89a4b9 !important;
}

.mechanium-bg {
    background-color: #89a4b9 !important;
}

.solar {
    color: #fcfcfd !important;
}

.solar-bg {
    background-color: #fcfcfd !important;
}

.obsidian {
    color: #37384e !important;    
}

.obsidian-bg {
    background-color: #37384e !important;
    color: white;
}

.obsidian-bg:hover {
    color: white;
}

.citrine {
    color: #e9c52b !important;
}

.citrine-bg {
    background-color: #e9c52b !important;
}

.cofidium {
    color: #6c350d !important;
}

.cofidium-bg {
    background-color: #6c350d !important;
    color: white;
}

.cofidium-bg:hover {
    color: white;
}

.btn {
    border: 1px solid #352f3c;
    padding: .1vw .5vw;
}

.btn-display {
    pointer-events: none;
}

.footer {
    font-size: 1vw;
    text-align: center;
}

.div-count {    
    color: gold;
    font-size: 2vw;
}

.star {        
    cursor:pointer;
    margin-top: -0.5vw;
    visibility:hidden;
}
.star:before {
   content: "\2606";   
   visibility:visible;
   color: #352f3c;
   font-size: 1.5vw;
}
.star:checked:before {
   content: "\2605";   
   color: gold;
   font-size: 1.5vw;
}

.finder {
    display: none;
}

.finder-form {
    padding: 1vw 0 0 0;
}

.input-text {
    font-size: 2vw;
    height: 4vw;
}

.find-button {
    font-size: 2vw;
    height: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.finder-message {
    padding: 1vw 0 1vw 0;
}

.finder-results {
    padding: 1vw 0 2vw 0;
}